---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <p>Published on {frontmatter.pubDate.toString().slice(0,10)}</p>
    <slot />
    <p>Tags</p>
    <ul>
        {frontmatter.tags.map((tag: string) => <li>{tag}</li>)}
    </ul>
</BaseLayout>
